{% extends 'base.html' %}

{% block title %}About Me - Raúl{% endblock %}

{% block content %}
    <h1>Mi Portfolio</h1>
    <p>Hola, soy Raúl. Aquí puedes ver los proyectos que he desarrollado durante el curso:</p>
    
    <div class="portfolio-list">
        <ul>
            <li>
                <strong>Práctica 1:</strong> Web Estática HTML/CSS 
                <a href="https://github.com/raullg2000" target="_blank">[Ver Link]</a>
            </li>
            <li>
                <strong>Práctica 2:</strong> Introducción a Flask
                <a href="#" target="_blank">[Ver Link]</a>
            </li>
            </ul>
    </div>
{% endblock %}
