{% extends 'base.html' %}

{% block title %}Registro - Mi Web{% endblock %}

{% block content %}
    <h2>Crear una cuenta</h2>
    <p>Regístrate para acceder a la parte privada.</p>
    
    <form method="POST">
        <div>
            <label for="username">Nombre de usuario:</label><br>
            <input type="text" name="username" required>
        </div><br>
        <div>
            <label for="password">Contraseña:</label><br>
            <input type="password" name="password" required>
        </div><br>
        <button type="submit" class="btn">Registrarse</button>
    </form>
    
    <p>¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a>.</p>
{% endblock %}
